.header {
    grid-area: h;
    background-color: mediumpurple;
}

.header img {
    height: 60px;
    width: 110px;
    margin: 10px;
}

.label {
    position: absolute;
    top: 15px;
    left: 47%;
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
}

.loginBlock {
    float: right;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}
