.nav {
    grid-area: n;
    background-color: plum;
    padding: 10px;

}

.item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.item a:hover {
     color: gold;
 }
.item a:active {
    color: red;
}