.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog a {
    color: white;
}

.dialog a:active {
    color: gold;
}

.dialogsItem {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.dialog img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.messages {
    color: white;
    padding: 10px;
}